* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

html {
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
  font-size: 16px; }

@media (min-width: 576px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container * {
      max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    background-color: lightcyan; } }

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  z-index: 1;
  width: 100vw;
  padding: 10px 20px;
  background: #182025; }
  @media (min-width: 576px) {
    #header {
      padding: 16px 26px; } }

#header-logo {
  width: 36px;
  height: auto;
  margin-left: -6px; }

#header h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  color: #e0e7eb; }

#menu {
  width: 20px;
  height: 10px;
  background: #e0e7eb;
  margin-left: auto;
  position: relative;
  right: 40px; }
  @media (min-width: 576px) {
    #menu {
      right: 42px; } }

#menu a {
  display: block;
  width: 20px;
  height: 10px; }

#menu a::after {
  content: "";
  display: block;
  position: relative;
  width: 25px;
  height: 4px;
  top: 3px;
  background: #182025; }

/* Navigation Bar */
#navbar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: fixed;
  overflow: scroll;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #e4e6e7;
  display: none; }

#navbar header,
.nav-link {
  flex-basis: content;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #202b31; }

.padding-bottom {
  padding-bottom: 90px; }

#navbar header {
  font-weight: 600; }

.nav-link::before {
  content: "";
  display: inline-block;
  margin-right: 15px;
  background: #202b31; }

/* Main Content */
main {
  padding: 50px 20px; }

.main-section header {
  margin-top: 3rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #202b31; }

.main-section p,
.main-section a {
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #202b31; }

.main-section a {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 2rem; }

.main-section ul {
  position: relative;
  margin-top: 1rem;
  list-style: square;
  left: 20px;
  width: calc(100% - 20px);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #202b31; }

.why-jsx-li {
  margin-top: 1rem; }

.li-p {
  list-style-type: none; }

.hidden {
  position: absolute;
  visibility: hidden; }

.main-section pre {
  position: relative;
  background: #202b31;
  padding: 1.5rem 1.5rem;
  margin: 2rem 0;
  overflow: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #e0e7eb; }

#footer {
  padding: 10px 20px;
  background: #182025; }
  @media (min-width: 576px) {
    #footer {
      padding: 16px 26px; } }

#footer h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: #e0e7eb; }

#footer p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  color: #e0e7eb; }

.ref-link {
  color: #e0e7eb;
  font-weight: bold;
  text-decoration: underline; }
