$sm: 576px;
$md: 768px;
$lg: 992px;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
  font-size: 16px;

  @media (min-width: $lg) {
    font-size: 17px;
  }
}

body {
  @media (min-width: $md) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  position: fixed;
  z-index: 2;
  box-sizing: border-box;
  width: 100vw;
  padding: 10px 20px;

  background: #182025;

  @media (min-width: $sm) {
    padding: 16px 26px;
  }
}

#header-logo {
  width: 36px;
  height: auto;
  margin-left: -6px;

  @media (min-width: $lg) {
    width: 45.51px;
  }
}

#header h1 {
  margin-right: auto;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;

  color: #61dafb;
}

#menu {
  width: 20px;
  height: 10px;
  background: #e0e7eb;
  position: relative;
}

#menu a {
  display: block;
  width: 20px;
  height: 10px;
}

#menu a::after {
  content: "";
  display: block;
  position: relative;
  width: 25px;
  height: 4px;
  top: 3px;
  background: #182025;
}

/* Navigation Bar */
#navbar {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;

  width: 270px;
  height: 100vh;
  padding: 46px 20px 0 20px;
  background: #f7f7f7;

  @media (min-width: $sm) {
    padding-top: 58px;
  }

  @media (min-width: $md) {
    display: block;
    z-index: 1;
  }

  @media (min-width: $lg) {
    padding-top: 64px;
  }
}

#navbar header {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;

  margin-top: 3rem;
  color: #202b31;
}

#navbar ul {
  position: relative;
  list-style-type: square;
  left: 20px;
  margin-bottom: calc(50px + 3rem);
}

#navbar li {
  padding-top: 16px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #202b31;
}

/* Main Content */
#main-doc {
  padding: 46px 20px 50px 20px;

  @media (min-width: $sm) {
    padding: 58px calc(-26px + 8vw) 50px calc(-26px + 8vw);
  }

  @media (min-width: $md) {
    width: calc(100% - 310px - calc(calc(-26px + 8vw) * 2));
  }

  @media (min-width: $lg) {
    padding: 64px calc(-26px + 8vw) 50px calc(-26px + 8vw);
  }
}

.main-section header {
  margin-top: 3rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #202b31;
}

.main-section p,
.main-section a {
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #202b31;
}

.main-section a {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 2rem;
}

.main-section ul {
  position: relative;
  margin-top: 1rem;
  list-style: square;
  left: 20px;
  width: calc(100% - 20px);

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #202b31;
}

.why-jsx-li {
  margin-top: 1rem;
}

.li-p {
  list-style-type: none;
}

.hidden {
  position: absolute;
  visibility: hidden;
}

.main-section pre {
  position: relative;
  background: #202b31;
  padding: 1.5rem 1.5rem;
  margin: 2rem 0;
  overflow: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;

  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #e0e7eb;
}

#footer {
  padding: 10px 20px;
  background: #182025;

  @media (min-width: $sm) {
    padding: 16px 26px;
  }

  @media (min-width: $md) {
    width: calc(100% - 310px - 52px);
  }
}

#footer h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: #e0e7eb;
}

#footer p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  color: #e0e7eb;
}

.ref-link {
  color: #e0e7eb;
  font-weight: bold;
  text-decoration: underline;
}
